<h2 mat-dialog-title>User Details</h2>
<mat-dialog-content>
  @if (data.editMode) {
    <app-user-form [content]="data" (userUpdated)="updateUser($event)" (editCanceled)="editUser(false)" (userDeleted)="deleteUser($event)"></app-user-form>
  } @else {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Username: {{data.user.username}}</mat-card-title>
        <mat-card-title>Role: {{data.user.role | roleFormatter}}</mat-card-title>
        <mat-card-title>Enabled: {{data.user.enabled}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button type="button" mat-stroked-button (click)="editUser(true)">
          <mat-icon
            aria-hidden="false"
            aria-label="edit"
            fontIcon="edit"
          ></mat-icon>
          Edit user
        </button>
      </mat-card-actions>
    </mat-card>
  }
</mat-dialog-content>
